</br>
<div class="row">
  	<h1>Edit Manga</h1>
  	</br> </br>
<%= form_for :manga, url: manga_path(@manga), method: :patch do |f| %>
 
  <% if @manga.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@manga.errors.count, "error") %> prohibited
        this Manga from being saved:
      </h2>
      <ul>
        <% @manga.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
			<p>
		    	<%= f.text_field :title, :class => "form-control", :placeholder => "Titel" %>
		  	</p>
 
			<p>
			    <%= f.text_field :chapter, :class => "form-control", :placeholder => "Episode Number" %>
			</p>
			
			<p>
			    <%= f.text_field :release, :class => "form-control", :placeholder => "Release Day" %>
			</p>
			
			<p>
			    <%= f.text_field :url, :class => "form-control", :placeholder => "Mangapanda URL" %>
			</p>
 
  <p>
    <%= f.submit "Save", :class => "btn btn-primary" %>
    <%= link_to 'Back', root_path, :class => "btn btn-default" %>
  </p>
 
<% end %>
</div>