</br>
<div class="row">
  	<h1>Edit Series</h1>
  	</br> </br>
<%= form_for :serien, url: serien_path(@serien), method: :patch do |f| %>
 
  <% if @serien.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@serien.errors.count, "error") %> prohibited
        this Serien from being saved:
      </h2>
      <ul>
        <% @serien.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
			<p>
		    	<%= f.text_field :title, :class => "form-control", :placeholder => "Titel with Season" %>
		  	</p>
 
			<p>
			    <%= f.text_field :episode, :class => "form-control", :placeholder => "Episode Number" %>
			</p>
			
			<p>
			    <%= f.text_field :release, :class => "form-control", :placeholder => "Release Day" %>
			</p>
			<p>
			    <%= f.text_field :url, :class => "form-control", :placeholder => "LoadTV URL" %>
			</p>
			</p>
 				Archiviert? <%= f.check_box :archiveFlag %>
  			<p>
 
  <p>
    <%= f.submit "Save", :class => "btn btn-primary" %>
    <%= link_to 'Back', root_path, :class => "btn btn-default" %>
  </p>
 
<% end %>
</div>