	<h2>Series</h2>
  		<div class="table-responsive">
  			<table class="table">
  			<tbody>
  				<tr>
  					<th>#</th>
  					<th>Titel</th>
  					<th>Last seen Episode</th>
  					<th>Newest Chapter</th>
  					<th>Release</th>
  					<th>Watched</th>
  					<th>Open</th>
  					<th>Edit</th>
  					<th>Delete</th>
  				</tr>
  				
  				<% @seriens.each do |serien| %>
  					<%
    					require 'rubygems'
    					require 'nokogiri'
    					require 'open-uri'
       					doc = Nokogiri::HTML(open(serien.url))
    					lastEpisode = doc.at_css("p span strong").text[/[0-9]+/]
    				%>
    				
    				<% if serien.episode <= lastEpisode.to_i - 1 %>
  						<tr bgcolor="#ffffb2">
  					<% elsif serien.archiveFlag == true %>
  						<tr bgcolor="#FF9966">
  					<% elsif serien.episode == lastEpisode.to_i %>
  						<tr>
  					<% else %>
  						<tr bgcolor="#ffb2b2">
  					<% end %>
  						<td><%= serien.id %></td>
      					<td><%= serien.title %></td>
      					<td><%= serien.episode %></td>
      					<td><%= lastEpisode %></td>
      					<td><%= serien.release %></td>
      					<td>
   							<%= form_for serien do |t| %>
     							<%= t.hidden_field :episode, :value=>serien.episode+1 %>
    							<%= t.submit "Watched", :class => "btn btn-primary" %>
   							<% end %>
      					</td>
      					<td>
      						<a class="btn btn-primary" target="_blank" href="<%= serien.url %>" role="button">Open</a>
      					</td>
      					<td>
							<a class="btn btn-primary" href="/seriens/<%= serien.id %>/edit" role="button">Edit</a>
      					</td>
      					<td>
      						<%= link_to 'Delete', serien_path(serien), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
              			</td>
    				</tr>
  				<% end %>
  			</tbody>
			</table>
			<a class="btn btn-primary" href="/seriens/new" role="button">Add new Series</a> </br> </br>
			<%= link_to 'Back', root_path, :class => "btn btn-default" %>
		</div>