</br>
<div class="row">

  	<h1>New Series</h1>
  	</br> </br>
  		<%= form_for :serien, url: seriens_path do |f| %>
			<p>
		    	<%= f.text_field :title, :class => "form-control", :placeholder => "Titel with Season" %>
		  	</p>
 
			<p>
			    <%= f.text_field :episode, :class => "form-control", :placeholder => "Episode Number" %>
			</p>
			
			<p>
			    <%= f.text_field :release, :class => "form-control", :placeholder => "Release Day" %>
			</p>
			<p>
			    <%= f.text_field :url, :class => "form-control", :placeholder => "LoadTV URL" %>
			</p>
 				Archiviert? <%= f.check_box :archiveFlag %>
  			<p>
  				<%= f.submit "Save", :class => "btn btn-primary" %>
  				<%= link_to 'Back', root_path, :class => "btn btn-default" %>
  			</p>
		<% end %>
</div>