  	<h1>Episode Checker</h1> </br></br>
  		<% if flash[:notice] %>
		    <% flash.each do |name, msg| %>
 				<% if msg.is_a?(String) %>
 				    <script type="text/javascript">	
 						$.notify({
							message: '<%= msg %>',
							target: '_blank'
						}, {
							type: "info"
						});
					</script> 
				<% end %>
			<% end %>
    	<% end %>

    	<h2>Misc</h2>
  		</br>
  	  	<h2>Series</h2>
  		<div class="table-responsive">
  			<table class="table">
  			<tbody>
  				<tr>
  					<th>#</th>
  					<th>Titel</th>
  					<th>Last seen Episode</th>
  					<th>Newest Chapter</th>
  					<th>Release</th>
  					<th>Watched</th>
  					<th>Open</th>
  					<th>Edit</th>
  					<th>Delete</th>
  				</tr>
  				
  				<% @seriens.each do |serien| %>
  				<% if serien.archiveFlag == false %>
  					<% if false %>
  						<%
    						require 'rubygems'
    						require 'nokogiri'
    						require 'open-uri'
       						doc = Nokogiri::HTML(open(serien.url))
    						lastEpisode = doc.at_css("p span strong").text[/[0-9]+/]
    					%>
    				<% end %>
    				<% lastEpisode = 999 %>
    				<% if serien.episode <= lastEpisode.to_i - 1 %>
  						<tr bgcolor="#ffffb2">
  					<% elsif serien.episode == lastEpisode.to_i %>
  						<tr>
  					<% else %>
  						<tr bgcolor="#ffb2b2">
  					<% end %>
  						<td><%= serien.id %></td>
      					<td><%= serien.title %></td>
      					<td><%= serien.episode %></td>
      					<td><%= lastEpisode %></td>
      					<td><%= serien.release %></td>
      					<td>
   							<%= form_for serien do |t| %>
     							<%= t.hidden_field :episode, :value=>serien.episode+1 %>
    							<%= t.submit "Watched", :class => "btn btn-primary" %>
   							<% end %>
      					</td>
      					<td>
      						<a class="btn btn-primary" target="_blank" href="<%= serien.url %>" role="button">Open</a>
      					</td>
      					<td>
							<a class="btn btn-primary" href="/seriens/<%= serien.id %>/edit" role="button">Edit</a>
      					</td>
      					<td>
      						<%= link_to 'Delete', serien_path(serien), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
              			</td>
    				</tr>
    			<% end %>
  				<% end %>
  			</tbody>
			</table>
			<a class="btn btn-primary" href="/seriens/new" role="button">Add new Series</a> </br> </br>
			<a class="btn btn-primary" href="/seriens" role="button">Show All</a>
		</div>
  	</br>
  	<h2>Animes</h2>
  		<div class="table-responsive">
  			<table class="table">
  			<tbody>
  				<tr>
  					<th>#</th>
  					<th>Titel</th>
  					<th>Last seen Episode</th>
  					<th>Newest Chapter</th>
  					<th>Release</th>
  					<th>Watched</th>
  					<th>Open</th>
  					<th>Edit</th>
  					<th>Delete</th>
  				</tr>
  				
  				<% @animes.each do |anime| %>
  					<%
      					require 'rubygems'
    					require 'nokogiri'
    					require 'open-uri'
    
						lastEpisode = 999
    				%>
    				
  					<% if anime.episode <= lastEpisode.to_i - 1 %>
  						<tr bgcolor="#ffffb2">
  					<% elsif anime.episode == lastEpisode.to_i %>
  						<tr>
  					<% else %>
  						<tr bgcolor="#ffb2b2">
  					<% end %>
  						<td><%= anime.id %></td>
      					<td><%= anime.title %></td>
      					<td><%= anime.episode %></td>
      					<td><%= lastEpisode %></td>
      					<td><%= anime.release %></td>
      					<td>
   							<%= form_for anime do |t| %>
     							<%= t.hidden_field :episode, :value=>anime.episode+1 %>
    							<%= t.submit "Watched", :class => "btn btn-primary" %>
   							<% end %>
      					</td>
      					<td>
      						<a class="btn btn-primary" target="_blank" href="<%= anime.url %>" role="button">Open</a>
      					</td>
      					<td>
							<a class="btn btn-primary" href="/animes/<%= anime.id %>/edit" role="button">Edit</a>
      					</td>
      					<td>
      						<%= link_to 'Delete', anime_path(anime), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
              			</td>
    				</tr>
  				<% end %>
  			</tbody>
			</table>
			<a class="btn btn-primary" href="/animes/new" role="button">Add new Anime</a>
		</div>
  	</br>
  	<h2>Mangas</h2>
  		<div class="table-responsive">
  			<table class="table">
  			<tbody>
  				<tr>
  					<th>#</th>
  					<th>Titel</th>
  					<th>Last seen Chapter</th>
  					<th>Newest Chapter</th>
  					<th>Release</th>
  					<th>Watched</th>
  					<th>Open</th>
  					<th>Edit</th>
  					<th>Delete</th>
  				</tr>
  				
  				<% @mangas.each do |manga| %>
  					<%
   						require 'rubygems'
   						require 'nokogiri'
   						require 'open-uri'
    
    					doc = Nokogiri::HTML(open(manga.url))
    					lastChapter = doc.at_css("#latestchapters li:nth-child(1) a").text[/[0-9\.]+/]
    				%>
  				
  					<% if manga.chapter <= lastChapter.to_i - 1 %>
  						<tr bgcolor="#ffffb2">
  					<% elsif manga.chapter == lastChapter.to_i %>
  						<tr>
  					<% else %>
  						<tr bgcolor="#ffb2b2">
  					<% end %>
  						<td><%= manga.id %></td>
      					<td><%= manga.title %></td>
      					<td><%= manga.chapter %></td>
      					<td><%= lastChapter %></td>
      					<td><%= manga.release %></td>
      					<td>
   							<%= form_for manga do |t| %>
     							<%= t.hidden_field :chapter, :value=>manga.chapter+1 %>
    							<%= t.submit "Watched", :class => "btn btn-primary" %>
   							<% end %>
      					</td>
      					<td>
      						<a class="btn btn-primary" target="_blank" href="<%= manga.url %>" role="button">Open</a>
      					</td>
      					<td>
							<a class="btn btn-primary" href="/mangas/<%= manga.id %>/edit" role="button">Edit</a>
      					</td>
      					<td>
      						<%= link_to 'Delete', manga_path(manga), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
              			</td>
    				</tr>
  				<% end %>
  			</tbody>
			</table>
			<a class="btn btn-primary" href="/mangas/new" role="button">Add new Manga</a>
		</div>

